/* Import styles */
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Define primary colors */
:root {
  --primary-main: #f8c82d;
  --primary-contrast-text: #fff;
  --primary-black-text: #000000;
}

/* Define common styles for the page */
body,
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-black-text);
  background-color: #f9f9f9;
}

/* Define styles for the login card container */
.login-card-container {
  width: 68rem;
  height: 58rem;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  border-top: 1px solid #e9e9e9;
  box-shadow: 0px 5px 5px #ccc;
  margin: 0;
}

/* Define styles for links */
a,
a:focus {
  color: var(--primary-black-text);
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Define styles for the login card sidebar */
.login-card-sidebar {
  width: 68rem;
  height: 58rem;
  flex: 1.5;
  background-color: var(--primary-main);
  color: var(--primary-contrast-text);
  border-radius: 5px 0 0 5px;
}

.login-card-sidebar img {
  margin: 3.56rem 0 0 2.5rem;
  width: 12.95rem;
  height: 2.78rem;
}

.login-card-sidebar h1 {
  margin: 14.65rem 0 0 2.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.login-card-sidebar p {
  margin: 0 0 0 2.5rem;
}

/* Define styles for the login card main content */
.login-card-main-content-container {
  display: flex;
  justify-content: center;
  flex: 3;
}

.login-card-main-content-container a:hover {
  text-decoration: none;
  color: var(--primary-main);
}

.login-card-main-content {
  margin-top: 3.56rem;
}

.login-card-header h3 {
  margin: 0 auto 6.315rem;
  text-align: center;
  font-size: 1.56rem;
  font-weight: 700;
}

/* Define styles for buttons */
.btn {
  width: 29.63rem;
  height: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
}

#btn-facebook,
#btn-google,
#btn-linkedin {
  display: flex;
  margin-top: 0.9375rem;
}

#btn-facebook span,
#btn-google span,
#btn-linkedin span {
  flex: 4;
}

#btn-facebook {
  color: var(--primary-contrast-text);
  background-color: rgb(66, 103, 178);
}

#btn-facebook:focus,
#btn-google:focus,
#btn-linkedin:focus {
  outline: none;
}

#btn-google,
#btn-linkedin {
  margin-top: 0.9375rem;
}

svg {
  height: 1em;
  max-width: 1em;
  position: relative;
  top: 0.15em;
  margin-left: 0;
  padding-left: 0;
  flex: 1;
}

/* Define styles for divider */
.login-divider {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.65rem;
  padding: 0 5rem;
  font-size: 1.56rem;
}

.login-divider span {
  flex: 1;
  text-align: center;
}

hr {
  flex: 2;
  margin-top: 1rem;
  border: none;
  border-top: 2px solid rgb(178, 190, 181);
  color: rgb(178, 190, 181);
}

/* Define styles for form */
.form-control {
  width: 29.63rem;
  height: 2.75rem;
}

#password,
#email {
  font-size: 1.25rem;
}

#email:focus,
#password:focus {
  border: 2px solid var(--primary-main);
  box-shadow: none;
}

#remember-me-checkbox:checked {
  background-color: var(--primary-main);
}

/* Define styles for login button */
#btn-login {
  position: relative;
  overflow: hidden;
  margin: 8.125rem 0 0 11.125rem;
  width: 9.25rem;
  height: 3.56rem;
  background-color: var(--primary-main);
  color: var(--primary-black-text);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

#btn-login:focus {
  outline: none;
}

#btn-login:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

#btn-login:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.25s ease-out;
  opacity: 1;
}

#btn-login.active {
  box-shadow: 0px 5px 5px -2px rgb(0 0 0 / 20%),
    0px 9px 12px 0px rgb(0 0 0 / 14%), 0px 3px 16px 2px rgb(0 0 0 / 12%);
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

.form-item-other {
  margin-top: 4.75rem;
  font-size: 0.88rem;
  color: var(--primary-black-text);
}

/* Define styles for footer */
.login-card-footer {
  margin: 1rem 0 0 8rem;
  font-size: 0.88rem;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

#remember-me-checkbox:checked {
  accent-color: var(--primary-main);
}

.checkbox label {
  font-weight: 400;
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
}

#error-message {
  display: none;
  white-space: break-spaces;
}
